body {
    font-family: sans-serif;
    background-image: url(imagens/tile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cores{
    width: 80%;
    border: 8px dashed black;
    margin: 20px auto;
    padding: 20px;
}
.cores p{
    margin: 0;
}
.section{
    counter-reset: contador;
}
.cores{
    counter-increment: contador;
}
.cores::before{
    content:"[ " counter(contador) " ]";
}